name: Docker CI Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  docker-build:  
    runs-on: ubuntu-latest

    steps:
        - name: Checkout code
          uses: actions/checkout@v3
    
        - name: Build Docker image
          run: |
              IMAGE_TAG=${GITHUB_SHA::7}
              docker build -t ci-test-image:$IMAGE_TAG ./Day14_Multistage

