name: Docker CI Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  docker-build:  
    runs-on: ubuntu-latest

    steps:
        - name: Checkout code
          uses: actions/checkout@v3
    
        - name: Build Docker image
          run: docker build -t ci-test-image ./Day14_Multistage

